apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- manifests/deployment.yaml
- manifests/service.yaml
- manifests/postgres-deployment.yaml
- manifests/postgres-secret.yaml
- manifests/postgres-service.yaml
- manifests/persistentvolumeclaim.yaml

images:
- name: fe-todos
  newName: lnsth/todo-app-fe:exercise_3.03
- name: be-todos
  newName: lnsth/todo-app-be:exercise_3.03
